@using System.Globalization
@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@{
    Layout = "Master.cshtml";

    var currentCulture = Model.GetCultureFromDomains().Substring(0, 2);

    var selection = Umbraco.Content(Guid.Parse("c44023a8-22b5-4d53-aa25-30232c9aca97"))
                        .ChildrenOfType("blogPost")
                        .Where(x => x.IsVisible() && x.Value("categoryName").ToString().ToLower() == Model.Name.ToLower());
}
<head>
    <title>
        @Model.Name
    </title>
</head>

@foreach (var item in selection)
{
    <div class="content-wrapper">
        <h1 class="white-bg-heading">@item.Value("categoryName")</h1>
        <div class="w-dyn-list">
            <div role="list" class="w-dyn-items">
                <div role="listitem" class="w-dyn-item">
                    <div class="post-wrapper"
                     style="opacity: 1; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1) rotateX(0deg) rotateY(0deg) rotateZ(0deg) skew(0deg, 0deg); transform-style: preserve-3d;">
                        <a href="@item.Url()"
                       style="background-image:url(&quot;@item.Value("blogPostPhoto")&quot;)" class="blog-image w-inline-block"></a>
                        <div class="post-content">
                            <a href="@item.Url()"
                           class="blog-title-link w-inline-block">
                                <h1 class="blog-title">@item.Value("blogPostTitle")</h1>
                            </a>
                            <div class="post-summary-wrapper">
                                <p class="post-summary">
                                    @item.Value("blogPostShortText")


                                </p><a href="@item.Url()" class="read-more-link">Read more...</a>
                            </div>
                            <div class="post-info-wrapper">
                                <div class="post-info">@item.Value("blogPostCreatedOn")</div>
                                <div class="post-info">|</div><a href="#" class="post-info link">@item.Value("categoryName")</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="button-wrapper"><a href="/all-posts/@currentCulture/" class="button w-button">All Posts&nbsp;→</a></div>
    </div>
}

